{% extends 'template.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block PageTitle %}
    Users
{% endblock %}

{% block body %}
{{ include('fragments/date-jour.html.twig')}}
    <div class="alert alert-warning">
        <a href="{{ path('tab', {nb : 7 }) }}"> Stats Table</a>
    </div>
<table class="table">
    <tr class="table-active">
        <td>Firstname</td>
        <td>Name</td>
        <td>Age</td>
        <td>Message</td>
    </tr>
    {% for user in users %}
    <tr class="table-{% if loop.index is odd %}danger{% else %}warning{% endif %}">
        <td>{{ user.firstname }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>
            {{ render(controller('App\\Controller\\FirstController::sayHello',{firstname: user.firstname, name: user.name })) }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}