{% extends 'template.html.twig' %}
{% block title %}
    {{ firstname }} {{ name }}
{% endblock %}

{% block body %}
    <h1>With love from {{ firstname }} {{ name }}</h1>
    <p>Bonjour Techwall Sf6</p>
    Mon url absolue est  : {{ url('first') }}
{% endblock %}