{% extends 'template.html.twig' %}

{% block body %}
 <div class="alert alert-success">
     {{ personne.firstname }} {{ personne.name}} a {{ personne.age }} ans
 </div>
{% endblock %}

{% block title %}
 {{ personne.firstname }} {{ personne.name}}
{% endblock %}

